.loading-prog-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;

  .bar {
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    height: 25px;
    border: 2px solid white;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);

    .progress {
      height: 100%;
      background: white;
    }
  }
}
