.create-song-part-modal {
  label {
    display:inline-block;
    margin-bottom: 5px;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    button {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}
