.song-part {
  border-top: 1px solid lightgrey;
  padding: 0 5px;

  background: white;
  color: black;

  &.is-playing {
    background: black;
    color: white;
  }

  .part-header {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;

    .title {
      font-weight: 600;
      margin: auto 5px auto 0;
      width: 33%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .time-indication {
      margin: auto 30px auto auto;
    }

    .edit-buttons {
      display: flex;
      flex-direction: row;

      .icon {
        cursor: pointer;
        margin: auto 5px auto 0;
      }

      .caret {
        font-size: 20px;
      }
    }
  }

  @media screen and (min-width: 992px) {
    & {
    }
  }

  @media screen and (min-width: 1300px) {
    & {
    }
  }

  @media screen and (min-width: 1700px) {
    & {
    }
  }

  @media screen and (min-width: 2200px) {
    & {
    }
  }
}
