.upload-modal {
  display: flex;
  flex-direction: column;

  .title {
    margin: auto auto 15px auto;
    padding: 5px 15px;
    // font-family: 'Open Sans Condensed';
    letter-spacing: 0.75px;
    font-weight: 200;
    border-bottom: 1px solid grey;
    // width: 100%;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    button {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}
