.upload-modal {
  display: flex;
  flex-direction: column;

  .title {
    margin: auto auto 25px auto;
    // font-family: 'Open Sans Condensed';
    letter-spacing: 0.75px;
    font-weight: 200;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    button {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}
