.track {
  font-size: 15px;
  font-weight: 200;

  border-top: 1px lightgrey solid;

  td {
    text-align: left;
    padding: 8px;
  }

  &:hover {
    background: #f2f2f2f2;
  }

  &.selected {
    background: black;
    color: white;
    border-top: 1px black solid;
  }

  .play {
    width: 10%;

    .play-icon {
      margin-left: 5px;
      font-size: 9px;
      cursor: pointer;
    }
  }

  .title {
    width: 55%;
    text-overflow: clip;
  }

  .length {
    width: 25%;
  }

  .options {
    display: flex;
    flex-direction: row;
    width: 10%;
    
    .icon {
      margin: auto;
      cursor: pointer;
    }
  }
}
