.audio-player-controls {
  min-width: 58px;
  display: flex;
  box-sizing: border-box;

  .toggle-play-holder {
    margin: auto;
    border-radius: 50px;
    border: 1px solid white;
    // width: 35px;
    // height: 35px;
    display: flex;

    &:hover {
      background: white;
      color: black;
    }

    .toggle-play-icon {
      margin: auto;
      font-size: 12px;
      padding: 15px;
    }
  }
}
