.loading-spinner {
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.3);

  &.position-absolute {
    position: absolute;
  }

  .spinner-icon {
    margin: auto;
    font-size: 3.5rem;
    animation: spin 2s linear infinite;
    color: white;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
