.arrangement-view {
  margin: 10px 10px 30px 10px;
  padding: 0 20px;

  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  background: white;
  border-radius: 5px;

  white-space: pre-wrap;

  display: flex;
  flex-direction: column;
  font-size: 14px;

  @media screen and (min-width: 992px) {
    & {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1300px) {
    & {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1700px) {
    & {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 2200px) {
    & {
      font-size: 16px;
    }
  }

  .arrangement-header {
    // font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }

  // .buttons {
  //   // display: flex;
  //   margin: 10px auto 20px 0;
  // }

  .add-part-icon {
    font-size: 30px;
    margin-bottom: 15px;
    cursor: pointer;
  }
}
