.audio-player {
  position: relative;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  margin: auto auto 0 auto;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;

  .waveform {
    position: relative;
    box-sizing: border-box;
    min-width: 100%;

    .title {
      position: absolute;
      bottom: 5px;
      left: 5px;
      z-index: 10;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (min-width: 992px) {
    & {
      width: 90%;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 80%;
    }
  }

  @media screen and (min-width: 1600px) {
    & {
      width: 70%;
    }
  }

  @media screen and (min-width: 2000px) {
    & {
      width: 60%;
    }
  }
}
