.audio-player {
  position: relative;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    & {
      width: 90%;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 80%;
    }
  }

  @media screen and (min-width: 1600px) {
    & {
      width: 70%;
    }
  }

  @media screen and (min-width: 2000px) {
    & {
      width: 60%;
    }
  }
}
