.jam-box {
  height: 100%;
  background: black;
  overflow: scroll;

  display: flex;
  flex-direction: column;

  .playlist-area {
    margin: 0 auto;
    height: 100%;
    overflow-y: scroll;
    width: 100%;

    @media screen and (min-width: 992px) {
      & {
        width: 60%;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        width: 50%;
      }
    }

    @media screen and (min-width: 1600px) {
      & {
        width: 40%;
      }
    }

    @media screen and (min-width: 2000px) {
      & {
        width: 30%;
      }
    }
  }
}
