.jam-box {
  height: 100%;
  background: black;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .playlist-area {
    margin: 0 auto;
    // height: 100%;
    // align-self: stretch;
    flex: 1;
    overflow-y: auto;
    width: 100%;

    @media screen and (min-width: 992px) {
      & {
        width: 60%;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        width: 50%;
      }
    }

    @media screen and (min-width: 1600px) {
      & {
        width: 40%;
      }
    }

    @media screen and (min-width: 2000px) {
      & {
        width: 30%;
      }
    }
  }

  // This adds some space to the bottom in case client is ios safari to give som space
  // for the bar, otherwise the audioplayer will be obfuscated
  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    padding-bottom: 70px; //resize
  }
}
