.track-controls {
  z-index: 10;
  // min-width: 58px;
  position: absolute;
  top: -20px;
  // bottom: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  width: 100%;

  .left-controls {
    display: flex;
    flex-direction: row;

    .toggle-scroll {
      z-index: 1;
      margin: auto;
      width: 1.5rem;
      border-radius: 3px;
      display: flex;
      background: white;
      box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.4),
        0px 6px 8px 0px rgba(0, 0, 0, 0.5);
      border: none;
      color: black;
      cursor: pointer;

      &:hover {
        color: grey;
      }

      .toggle-scroll-icon {
        margin: auto;
        font-size: 12px;
        padding: 5px;
      }
    }
  }

  .playback-controls {
    grid-column: 2;
    margin: auto;
    display: flex;
    flex-direction: row;

    .step-backward {
      margin: auto 0 auto auto;
      display: flex;
      background: white;
      box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.4),
        0px 6px 8px 0px rgba(0, 0, 0, 0.5);
      border: none;
      color: black;
      cursor: pointer;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      &:hover {
        color: grey;
      }

      .step-backward-icon {
        margin: auto;
        font-size: 12px;
        padding: 10px 11px 10px 16px;
      }
    }

    .step-forward {
      margin: auto 0 auto auto;
      display: flex;
      background: white;
      box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.4),
        0px 6px 8px 0px rgba(0, 0, 0, 0.5);
      border: none;
      color: black;
      cursor: pointer;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;

      &:hover {
        color: grey;
      }

      .step-forward-icon {
        margin: auto;
        font-size: 12px;
        padding: 10px 16px 10px 11px;
      }
    }

    .toggle-play {
      grid-column: 3;
      z-index: 1;
      margin: auto;
      border-radius: 5px;
      display: flex;
      background: white;
      box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.4),
        0px 6px 8px 0px rgba(0, 0, 0, 0.5);
      border: none;
      color: black;
      cursor: pointer;

      &:hover {
        color: grey;
      }

      .toggle-play-icon {
        margin: auto;
        font-size: 12px;
        padding: 15px;
      }
    }
  }

  .right-controls {
    display: flex;
    flex-direction: row;

    .toggle-arrangement-view {
      z-index: 1;
      margin: auto;
      // width: 1.5rem;
      border-radius: 3px;
      display: flex;
      background: white;
      box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.4),
        0px 6px 8px 0px rgba(0, 0, 0, 0.5);
      border: none;
      color: black;
      cursor: pointer;

      &:hover {
        color: grey;
      }

      .toggle-arrangement-view-icon {
        margin: auto;
        font-size: 12px;
        padding: 5px;
      }
    }
  }
}
