.drop-down-menu-item {
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 15px;
  width: 100%;
  font-size: 15px;
  font-weight: 200;

  &:hover {
    background: #f2f2f2;
  }
}
