body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Who-asks-Satan';
  src: url('fonts/Who-asks-Satan.ttf.woff') format('woff'),
    url('fonts/Who-asks-Satan.ttf.svg#Who-asks-Satan') format('svg'),
    url('fonts/Who-asks-Satan.ttf.eot'),
    url('fonts/Who-asks-Satan.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
