.header {
  z-index: 1;
  height: 70px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
  background: black;
  margin: 0 auto;

  button:first-of-type {
    margin: auto auto auto 10px;
  }
  // button:last-of-type {
  //   margin: auto 10px auto auto;
  // }

  @media screen and (min-width: 992px) {
    & {
      width: 60%;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 50%;
    }
  }

  @media screen and (min-width: 1600px) {
    & {
      width: 40%;
    }
  }

  @media screen and (min-width: 2000px) {
    & {
      width: 30%;
    }
  }

  .logo {
    grid-column: 2;
    margin: auto;
    font-family: 'Who-asks-Satan';
    color: white;
    white-space: nowrap;
    align-self: center;

    @media screen and (min-width: 992px) {
      & {
        font-size: 2.5rem;
      }
    }
  }

  .menu-icon {
    margin: auto 25px auto auto;
    color: white;
  }

  .sign-out {
    margin: auto 25px auto auto;
    color: white;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 10px;

    @media screen and (min-width: 992px) {
      & {
        font-size: 12px;
      }
    }
  }
}
